In [1]:
import pandas as pd
from pandasql import sqldf
from pandasql import sqldf
import seaborn as sns

In [2]:
#remove
df=pd.read_csv("survivival_data_with_version_stats.csv")

In [3]:
#remove
df.tail()

,file_id,projectGroup,category,smellType,status,tInit,tFinal,first,last
2678,H11334,H,Business,LongParameterList,1,2014-07-29 13:49:34,2014-09-29 17:54:00,1,0
2679,H149531,H,Business,LongParameterList,0,2004-12-20 21:27:30,2006-02-09 19:28:45,1,1
2680,H15187,H,Library,LongParameterList,0,2010-10-14 10:09:44,2010-12-01 19:20:57,1,1
2681,H16012,H,Library,LongParameterList,0,2010-10-14 10:09:44,2010-12-01 19:20:57,1,1
2682,H34365,H,Business,LongParameterList,0,2015-07-01 14:13:49,2015-12-01 14:29:32,1,1

In [4]:
df.columns

Index(['file_id', 'projectGroup', 'category', 'smellType', 'status', 'tInit',
       'tFinal', 'first', 'last'],
      dtype='object')

In [5]:
df.groupby('smellType').sum()['first']

smellType
FEAR_OF_THE_UNKNOWN      29
IMPLICIT_COLUMNS        272
LongMethod             1453
LongParameterList       619
Name: first, dtype: int64

In [6]:
df.groupby('smellType').count()['file_id']

smellType
FEAR_OF_THE_UNKNOWN      40
IMPLICIT_COLUMNS        304
LongMethod             1609
LongParameterList       730
Name: file_id, dtype: int64

<h3>Process tInit and tFinal</h3>

In [7]:
df['tInit']=pd.to_datetime(df.tInit)

In [8]:
df['tFinal']=pd.to_datetime(df.tFinal)

In [9]:
df['T']=df['tFinal']-df['tInit']

In [10]:
df.dtypes

file_id                  object
projectGroup             object
category                 object
smellType                object
status                    int64
tInit            datetime64[ns]
tFinal           datetime64[ns]
first                     int64
last                      int64
T               timedelta64[ns]
dtype: object

In [11]:
df['days'] = df['T'].apply(lambda x: x.days)

In [12]:
df['DBsmell']= df['smellType'].apply(lambda x: (str(x)=='FEAR_OF_THE_UNKNOWN' or str(x)=='IMPLICIT_COLUMNS'))

In [13]:
df.groupby('DBsmell').count()

,file_id,projectGroup,category,smellType,status,tInit,tFinal,first,last,T,days
DBsmell,,,,,,,,,,,
False,2339,2339,2339,2339,2339,2339,2339,2339,2339,2339,2339
True,344,344,344,344,344,344,344,344,344,344,344

In [14]:
df.dtypes

file_id                  object
projectGroup             object
category                 object
smellType                object
status                    int64
tInit            datetime64[ns]
tFinal           datetime64[ns]
first                     int64
last                      int64
T               timedelta64[ns]
days                      int64
DBsmell                    bool
dtype: object

In [15]:
df['days'].min()

8

In [16]:
df['days'].describe()

count    2683.000000
mean     1250.174804
std      1119.528287
min         8.000000
25%       334.000000
50%       870.000000
75%      2093.000000
max      6778.000000
Name: days, dtype: float64

In [17]:
df.to_csv('Dataset_Survivial_analysis.csv',index=False)